.card-block {
  @include centerFlex;
  @include radius(30px);
  @include transition;
  background-color: #F2F2F2;
  padding:0.5rem  1.5rem;
  padding-bottom: 100%;
  box-shadow: 0px 0px 15px 0px rgba($secondary-color, 0.3);
  cursor: pointer;
  position: relative;
  &:hover {
    @include transition(0.1s);
    box-shadow: 0px 0px 20px 0px rgba($secondary-color, 0.6);
  }
  &:active {
    box-shadow: 0px 2px 0px 1px rgba($black-70, 0);
  }
  .card-content {
    @include size(100%);
    @include absolute-all;
    @include centerFlex;
    flex-direction: column;
    user-select: none;
    .card-icon {
      @include size(40%, auto);
      + * {
        margin-top: 2rem;
      }
    }
    @include media-max(md) {
      .typo-display-1 {
        font-size: 20px;
      }
    }
  }
  @include media-max(md) {
    @include transition(0.1s);
  }
}
.grid-cards {
  @include size(100%, auto);
  @include transition;
  padding: 2.5rem;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-auto-rows: auto;
  grid-gap: 2.5rem;
  @include media-min(lg) {
    grid-template-columns: repeat(4, 1fr);
  }
}
