body {
  @include customscrollbar;
  background-color: $body-bg;
  -webkit-font-smoothing: antialiased;
  &.-overlayed {
    height: 100%;
    overflow: hidden;
  }
  a,
  button {
    outline: none !important;
  }
}

.main-bgs {
  @include size(100vw, auto);
  min-height: 100vh;
  background-position: bottom;
  background-size: cover;
}

.main-app {
  @include size(100vw, auto);
  padding-top: 60px;
}
