@keyframes loading-warning {
  0% {
    width: 0%;
  }
  50% {
    width: 50%;
  }
  100% {
    width: 100%;
  }
}

@keyframes pulsingLight {
  0% {
    box-shadow: 0px 0px 0px 1px rgba($black-70, 0.0);
  }
  50% {
    box-shadow: 0px 0px 15px 1px rgba($black-70, 0.6);
  }
  100% {
    box-shadow: 0px 0px 0px 1px rgba($black-70, 0.0);
  }
}