.menu-burguer {
  @include size(100%);
  @include centerFlex;
  cursor: pointer;
  outline: none;
  .burguer {
    @include size(35px, 4px);
    @include transition;
    @include radius;
    display: block;
    background-color: $white;
    position: relative;
    &::before,
    &::after {
      content: "";
      @include size(100%);
      @include radius;
      @include transition;
      background-color: $white;
      display: block;
      position: absolute;
    }
    &::before {
      top: -10px;
    }
    &::after {
      bottom: -10px;
    }
  }
  &.-open {
    .burguer {
      background-color: $white;
      transform: rotate(45deg);
      &:before,
      &::after {
        background-color: $white;
        transform: rotate(90deg);
      }
      &::before {
        top: 0;
        opacity: 0;
      }
      &::after {
        bottom: 0;
      }
    }
  }
  @include media-min(md) {
    display: none;
  }
}
